<div id="itemActionsBar">
  <% if (!redisReadOnly) { %>
  <button class="btn btn-danger" onclick="deleteKey('<%= connectionId %>','<%= key %>')">Delete Key</button>
  <% } %>
</div>
<div id="itemData">
  <label>Key: <b><%= key %></b></label>
  <label>TTL: <b><%= ttl %></b></label>
  <label>Type: <b>String (Pickle(Binary))</b></label>
  <!-- read only for now, no binary data editing -->
  <div class="pickleView">
    <div class="pickleView-offset">
    <% for (var pos in positions) { %>
      <b><%= positions[pos] %></b>
    <% } %>
    </div>
    <div class="pickleView-hex">
      <span><%= new PythonPickle(new KaitaiStream(value)); %></span>
    </div>
  </div>
  </span>
</div>

<script>
</script>
